body{
background-color: black;
font-size: 80px;
color: aliceblue;
text-align:center;
font-family: cursive;

  }

  h1{
    color: rgb(212, 84, 159);
    text-shadow: 0 0 70px #c509bc;
    font-size: 70px;
    text-align: center;
  }
 
.celda{
  width: 80.5px;
  height: 80.5px; 
  border: 7px solid ;
  border-color: #c509bc;
  cursor: pointer;
  
  
}

.Contenedor{
    display: grid;
    grid-template-columns: 7% 7% 7% ;
    justify-content: center;
    margin-top: 100px;   
}

.celda:hover{
  background: rgba(0,0,0,0.15);
  background-color: #db18e2;
}

